  <div class="row">
    <div class="col-md-12">
      <nav class="navbar navbar-expand-lg navbar-light bg-light rounded mt-5">
        <a class="navbar-brand" href="/">Repetition app</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/repetitions">Today words</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/roots">Roots</a>
            </li>
            <form class="form-inline my-2 my-lg-0" action="/mywords/1" method="GET">
              <ul class="nav navbar-nav navbar-right">
                <li>
                  <a class="nav-link" href="/mywords/1">My words</a>
                </li>
              </ul>
            </form>
            <li class="nav-item">
              <a class="nav-link" href="/admin">Admin</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0" action="/auth/login" id="logout" method="POST">
            <ul class="nav navbar-nav navbar-right">
              <li>
                <a class="nav-link" href="/auth/logout">Logout</a>
              </li>
            </ul>
          </form>
        </div>
      </nav>
    </div>
  </div>
