<!DOCTYPE html>
<html lang="en">

  {{> head}}

  <body>

    <div class="container">
      {{> navbar}}

      <div class="letters">
        <h3 class="text-center py-3">Words by letter</h3>
        <div class="row">
        {{#each letters}}

          <div class="col-1 text-center py-3">
            <div class="list-group">
              <a href="/words/{{letter}}/1" class="list-group-item list-group-item-action">
                <h5>{{letter}}</h5>
              </a>
            </div>
          </div>

        {{/each}}
        </div>
      </div>
    </div>
  </body>
</html>
